In [7]:
#STA130HW01
#Heesu Kim 1002654978
#Due Sept 12, 2024

#1
##Testing code with dataset that has no missing value
import pandas as pd
url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df = pd.read_csv(url)
df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [4]:
#Testing code with dataset that has some missing value
import pandas as pd
url = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv"
df = pd.read_csv(url)
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [6]:
#2

import pandas as pd
url = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv"
df = pd.read_csv(url)

print("Columns in the dataset:")
print(df.columns)

print("\nNumber of rows and columns:")
print(df.shape)

print("\nFirst few rows of the dataset:")
print(df.head())

#Observation is a single entry or data point in dataset.
#Variable is a characteristic or attribute that can be measured or identified.

Columns in the dataset:
Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

Number of rows and columns:
(20640, 10)

First few rows of the dataset:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [9]:
#3

import pandas as pd
url = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv"
df = pd.read_csv(url)

#overview of datatypes and column
print(df.dtypes)

#descriptive statistics for numerical columns
numerical_summary = df.describe()
print(numerical_summary)

#descriptive statistics for categorical columns
categorical_summary = df.describe(include=['object'])
print(categorical_summary)

#count unique values for categorical columns
unique_values = df.select_dtypes(include=['object']).nunique()
print(unique_values)

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000
       ocean_proximity
count            20640
unique               5
top          <1H OCEAN
freq              9136
ocean_proximity    5
dtype: int64

In [14]:
#4

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

print(df.shape)

print(df.describe(include='all'))

(891, 15)
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

In [4]:
#5

#Atribute

#Atribute is a characteristic or property of an object.
#It doesn't perform an action, but holds the data of the object.
#It is accessed without parantheses.

#Method

#Method is a function associated with the object.
#It performs action when its ran.
#It is accessed with parantheses.

#6
#1) Count
#It is the number of non-missing values in the dataset for each variable, 
#and its used to show how many valid entries there are for each column, helping identify missing data.

#2) Mean
#It is the arithmetic average of the data points. 
#It is calculated as the sum of all values divided by the number of values.
#It is used to provide a measure central tendancy

#3) std
#It is a measure of how spread out the values are from the mean. 
#It quantifies the amount of variation or dispersion in a dataset.
#It is tells that a small standard deviation indicates that the values are close to the mean, 
#while a large standard deviation indicates that they are spread out over a wider range.

#4) min
#It is the smallest value in the dataset for each variable.
#It is used to identifies the lower boundary of the data distribution.

#5) 25% (or Q1)
#It is the value below which 25% of the data falls. It represents the first quartile.
#It is used to help understand the lower tail of the distribution.

#6) 50% (or Q2)
#It is the middle value of the dataset, where half of the data is smaller and half is larger. 
#This is also the median.
#It shows measure of central tendency, less affected by outliers than the mean.

#7) 75% (or Q3)
#It is the value below which 75% of the data falls.
#It is used to provide insight into the upper tail of the distribution.

#8) max
#It is the largest value in the dataset for each variable.
#It is used to identify the upper boundary of the data distribution.

#7

#1)
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows of the dataset to see the initial data
print("Initial data preview:")
print(df.head())

# Drop rows with missing values
df_cleaned = df.dropna()

# Display the cleaned dataset (first few rows)
print("\nData preview after dropping rows with missing values:")
print(df_cleaned.head())

# Show the shape of the dataset before and after cleaning
print(f"\nOriginal dataset shape: {df.shape}")
print(f"Cleaned dataset shape: {df_cleaned.shape}")

Initial data preview:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Data preview after dropping rows with missing values:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
10           11         1       3
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
10      1   PP 9549  16.7000    G6        S
11      0    113783  26.5500  C103        S

Original dataset shape: (891, 12)
Cleaned dataset shape: (183, 12)
Initial data preview:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

Missing values per column:
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Data preview after deleting the 'total_bedrooms' column:
   longitude  latitude  housing_median_age  total_rooms  population  \
0    -122.23     37.88                41.0        880.0       322.0
1    -122.22     37.86                21.0       7099.0      2401.0
2    -122.24     37.85                52.0       1467.0       496.0
3    -122.25     37.85                52.0       1274.0       558.0
4    -122.25     37.85                52.0       1627.0       565.0

   households  median_income  median_house_value ocean_proximity
0       126.0         8.3252            452600.0        NEAR BAY
1      1138.0         8.3014            358500.0        NEAR BAY
2       177.0         7.2574            352100.0        NEAR BAY
3       219.0         5.6431            341300.0        NEAR BAY
4       259.0         3.8462            342200.0        NEAR BAY

Original dataset shape: (20640, 9)
Shape after deleting 'total_bedrooms' column: (20640, 9)

In [5]:
#7
#2)
import pandas as pd

# Load the housing dataset from the provided URL
url = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv"
df = pd.read_csv(url)

# Display the first few rows of the dataset to see the initial data
print("Initial data preview:")
print(df.head())

# Check for missing values by column
missing_data = df.isnull().sum()
print("\nMissing values per column:")
print(missing_data)

# Identify a column with a high number of missing values and delete it (e.g., if it existed in this dataset)
if 'total_bedrooms' in df.columns:  # 'total_bedrooms' may have missing values in the housing dataset
    del df['total_bedrooms']  # Deleting a column with many missing values

# Display the dataframe after deleting the column
print("\nData preview after deleting the 'total_bedrooms' column:")
print(df.head())

# Show the shape of the dataset before and after removing the column
print(f"\nOriginal dataset shape: {df.shape}")
print(f"Shape after deleting 'total_bedrooms' column: {df.shape}")

Initial data preview:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

Missing values per column:
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Data preview after deleting the 'total_bedrooms' column:
   longitude  latitude  housing_median_age  total_rooms  population  \
0    -122.23     37.88                41.0        880.0       322.0
1    -122.22     37.86                21.0       7099.0      2401.0
2    -122.24     37.85                52.0       1467.0       496.0
3    -122.25     37.85                52.0       1274.0       558.0
4    -122.25     37.85                52.0       1627.0       565.0

   households  median_income  median_house_value ocean_proximity
0       126.0         8.3252            452600.0        NEAR BAY
1      1138.0         8.3014            358500.0        NEAR BAY
2       177.0         7.2574            352100.0        NEAR BAY
3       219.0         5.6431            341300.0        NEAR BAY
4       259.0         3.8462            342200.0        NEAR BAY

Original dataset shape: (20640, 9)
Shape after deleting 'total_bedrooms' column: (20640, 9)

In [6]:
#7
#3)
#Removing column with del df[‘col’] first ensures avoiding to delete the entire rows that might be useful. 
#Removing columns with high amount of missing data reduces the amount of data that needs to be processed when deleting rows.
#Without removing colums with high missing data, df.dropna() could reduce significant amount of the data

#7
#4)
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv"
df = pd.read_csv(url)

# Display initial data info
print("Initial shape of the dataset:", df.shape)
print("Missing values before cleaning:\n", df.isnull().sum())

# Step 1: Remove a column with significant missing values
# In this dataset, let's assume 'total_bedrooms' has a high number of missing values
if 'total_bedrooms' in df.columns:
    del df['total_bedrooms']

# Step 2: Drop rows with missing values in the remaining columns
df_cleaned = df.dropna()

# Display final data info
print("\nFinal shape of the dataset after cleaning:", df_cleaned.shape)
print("Missing values after cleaning:\n", df_cleaned.isnull().sum())

Initial shape of the dataset: (20640, 10)
Missing values before cleaning:
 longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Final shape of the dataset after cleaning: (20640, 9)
Missing values after cleaning:
 longitude             0
latitude              0
housing_median_age    0
total_rooms           0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [18]:
#8

# 1)
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(url)

# Display the first few rows of the dataframe
print(titanic_df.head())

# Print the column names to verify the presence of expected columns
print(titanic_df.columns)

# Perform a descriptive statistical analysis on a column, e.g., 'Fare'
print(titanic_df['fare'].describe())

# If 'Pclass' is present, perform groupby operation
if 'pclass' in titanic_df.columns:
    fare_description_by_class = titanic_df.groupby('pclass')['fare'].describe()
    print(fare_description_by_class)
else:
    print("Column 'pclass' does not exist in the DataFrame.")

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: fare, dtype: float64
        count       mean        std  min       25%      50%   75%       max
pclass
1       216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
2       184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
3       491.0  13.675550  11.778142  0.0   7.75000   8.0500  15.5   69.5500

In [30]:
#8

#2)
#df.describe() provides summary statistics for all numerical columns across the entire dataset. 
#Count here shows the number of non-missing values for each column in the whole DataFrame. 
#If some rows are missing values in any column, the count will reflect the total number of available data points,
#indicating the overall completeness of the data.

#df.groupby("col1")["col2"].describe() first splits the data into groups based on unique values of col1. 
#Each group is then analyzed separately, and describe() is applied to col2 within these groups. 
#Count shows the number of non-missing values for col2 within each subgroup defined by col1.

#3)
#all errors for this question is fixed and I am submitting chatlog to present the effort made to this question.



#A) working with chatbot is relatively easier.
import pandas as pd

#---------------------------------------------------------------------------
#NameError                                 Traceback (most recent call last)
#Cell In[2], line 2
#      1 url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
#----> 2 df = pd.read_csv(url)
#      3 df.isna().sum()

#NameError: name 'pd' is not defined

url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df = pd.read_csv(url)
df.isna().sum()

#B)It is relatively easier to work with chatbot

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
#---------------------------------------------------------------------------
#FileNotFoundError                         Traceback (most recent call last)
#Cell In[10], line 3
#      1 import pandas as pd
#      2 url = "tatanic.csv"
#----> 3 df = pd.read_csv(url)
#      4 df.isna().sum()

df = pd.read_csv(url)
df.isna().sum()




#C)It was relatively easeir to work with chatbot.
import pandas as pd
url = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv"
df = pd.read_csv(url)
#ERROR ENCOUNTERED WHEN USED Df instead of df
#---------------------------------------------------------------------------
#NameError                                 Traceback (most recent call last)
#Cell In[9], line 4
#      2 url = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv"
#      3 Df = pd.read_csv(url)
#----> 4 df.isna().sum()
#
#NameError: name 'df' is not defined

df.isna().sum()


#D)It is relatively easier to google search it.
import pandas as pd
url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df = pd.read_csv(url)
# Cell In[6], line 3
#    df = pd.read_csv(url
#SyntaxError: '(' was never closed

df.isna().sum()



#E)It is relatively easeir to work with google.
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(url)

# Display the first few rows of the dataframe
print(titanic_df.head())

# Print the column names to verify the presence of expected columns
print(titanic_df.columns)

# Perform a descriptive statistical analysis on a column, e.g., 'Fare'
print(titanic_df['fare'].describe())

# If 'Pclass' is present, perform groupby operation
if 'pclass' in titanic_df.columns:
    fare_description_by_class = titanic_df.groupby('pclass')['fare'].describe()
    print(fare_description_by_class)
#ERROR ENCOUNTERED WHEN USED ['Fare'] instead of ['fare']  
#    ---------------------------------------------------------------------------
#KeyError                                  Traceback (most recent call last)
#Cell In[8], line 18
#     16 # If 'Pclass' is present, perform groupby operation
#     17 if 'pclass' in titanic_df.columns:
#---> 18     fare_description_by_class = titanic_df.groupby('pclass')['Fare'].describe()
#     19     print(fare_description_by_class)
#     20 else:
#
#File /opt/conda/lib/python3.11/site-packages/pandas/core/groupby/generic.py:1964, in DataFrameGroupBy.__getitem__(self, key)
#   1957 if isinstance(key, tuple) and len(key) > 1:
#   1958     # if len == 1, then it becomes a SeriesGroupBy and this is actually
#   1959     # valid syntax, so don't raise
#   1960     raise ValueError(
#   1961         "Cannot subset columns with a tuple with more than one element. "
#   1962         "Use a list instead."
#   1963     )
#-> 1964 return super().__getitem__(key)
#
#File /opt/conda/lib/python3.11/site-packages/pandas/core/base.py:244, in SelectionMixin.__getitem__(self, key)
#    242 else:
#    243     if key not in self.obj:
#--> 244         raise KeyError(f"Column not found: {key}")
#    245     ndim = self.obj[key].ndim
#    246     return self._gotitem(key, ndim=ndim)
#
#KeyError: 'Column not found: Fare'

else:
    print("Column 'pclass' does not exist in the DataFrame.")




#F)It is relatively easier to work with chatbot.
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(url)

# Display the first few rows of the dataframe
print(titanic_df.head())

# Print the column names to verify the presence of expected columns
print(titanic_df.columns)

# Perform a descriptive statistical analysis on a column, e.g., 'Fare'
print(titanic_df['fare'].describe())
# ERROR ENCOUNTERED WITH MISSPELLING Fare INSTEAD of fare
#KeyError                                  Traceback (most recent call last)
#File /opt/conda/lib/python3.11/site-packages/pandas/core/indexes/base.py:3790, in Index.get_loc(self, key)
#   3789 try:
#-> 3790     return self._engine.get_loc(casted_key)
#   3791 except KeyError as err:

#File index.pyx:152, in pandas._libs.index.IndexEngine.get_loc()

#File index.pyx:181, in pandas._libs.index.IndexEngine.get_loc()

#File pandas/_libs/hashtable_class_helper.pxi:7080, in pandas._libs.hashtable.PyObjectHashTable.get_item()

#File pandas/_libs/hashtable_class_helper.pxi:7088, in pandas._libs.hashtable.PyObjectHashTable.get_item()

#KeyError: 'Fare'

# If 'Pclass' is present, perform groupby operation
if 'pclass' in titanic_df.columns:
    fare_description_by_class = titanic_df.groupby('pclass')['fare'].describe()
    print(fare_description_by_class)
else:
    print("Column 'pclass' does not exist in the DataFrame.")

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: fare, dtype: float64
        count       mean        std  min       25%      50%   75%       max
pclass
1       216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
2       184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
3       491.0  13.675550  11.778142  0.0   7.75000   8.0500  15.5   69.5500
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: fare, dtype: float64
        count       mean        std  min       25%      50%   75%       max
pclass
1       216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
2       184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
3       491.0  13.675550  11.778142  0.0   7.75000   8.0500  15.5   69.5500

In [22]:
#G) It is relatively easier to work with chat.

import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(url)

# Display the first few rows of the dataframe
print(titanic_df.head())

# Print the column names to verify the presence of expected columns
print(titanic_df.columns)

# Perform a descriptive statistical analysis on a column, e.g., 'Fare'
print(titanic_df['fare'].describe())

#ERROR ENCOUNTERED WHEN USED [fare] instead of ['fare']
#---------------------------------------------------------------------------
#NameError                                 Traceback (most recent call last)
#Cell In[7], line 14
#     11 print(titanic_df.columns)
#     13 # Perform a descriptive statistical analysis on a column, e.g., 'Fare'
#---> 14 print(titanic_df[fare].describe())
#     16 # If 'Pclass' is present, perform groupby operation
#     17 if 'pclass' in titanic_df.columns:
#
#NameError: name 'fare' is not defined

# If 'Pclass' is present, perform groupby operation
if 'pclass' in titanic_df.columns:
    fare_description_by_class = titanic_df.groupby('pclass')['fare'].describe()
    print(fare_description_by_class)
else:
    print("Column 'pclass' does not exist in the DataFrame.")

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: fare, dtype: float64
        count       mean        std  min       25%      50%   75%       max
pclass
1       216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
2       184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
3       491.0  13.675550  11.778142  0.0   7.75000   8.0500  15.5   69.5500

In [ ]:
# 9
# YES I HAVE.

#CHATLOGS

#https://chatgpt.com/share/66e3a1b0-db84-800e-98bc-ee74a3ed4b47
#https://chatgpt.com/share/66e3a240-407c-800e-832a-513b36512923
#https://chatgpt.com/share/66e3a285-9c9c-800e-b264-f43caa90ffff
#https://chatgpt.com/share/66e3a2a6-db34-800e-85ba-ffc1d4a72776
#https://chatgpt.com/share/66e3a2b7-bf40-800e-882b-335db1df3d46
#https://chatgpt.com/share/66e3a2cd-dddc-800e-b75c-9a5c5a162c6a
#https://chatgpt.com/share/66e3a2e0-e51c-800e-805b-d9866dcc5238